image: node:20-alpine

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

build:
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
    expire_in: 1 hour

pages:
  stage: deploy
  script:
    - mv dist public
  artifacts:
    paths:
      - public/
  only:
    - main
    - master
